body {
	margin: 0;
	background-color: lightgray;
}

img {
	float: left;
	max-width: 100%;
	height: auto;
}

a {
	float: left;
}

.white-teal-back {
	color: white;
	background-color: teal;
	text-decoration: none;
	font-size: 40px;
}

.teal-border {
	border: 3px solid teal;
}

.card h1 {
	color: teal;
}

.card h2 {
	color: teal;
	text-align: center;
}

.card {
	margin: 20px;
	padding: 10px;
}
	
@media (max-width: 992px) {	
	ul{
		background-color: white;
	}
	.container-fluid{
		background-color: teal;
 	}  
}

@media (min-width: 992px) {
	.container-fluid{
		background-color: unset;
	}  
}